@import "tailwindcss";

@theme {
  --color-primary: #0d6cf2;
  --color-background-dark: #101722;
}

body {
  background-color: var(--color-background-dark);
  color: theme('colors.slate.200');
  font-family: "Manrope", sans-serif;
}
